

body{
	/* background: #F0F0F3; */
}

.fa{
	/* margin-right: 20px; */
}

.fa-yellow{
	color: #ebab34;
}


.flex-container {
  	display: flex;
}

.page-header>h1{
	margin: 0;
	margin-top: 8px;
	margin-left: 20px;
}

.list-group-item{
  	display: flex;
  	word-wrap: break-word;
}

.list-group-item>i{
	padding-top: 3px;
}

.list-group-item>p{
	margin: 0;
	width: 50%;
}

.list-group-item>.size{

}
.list-group-item>.time{
	text-align: left;
}


.img-vlc{
	padding-top: 0 !important;
}

.img-vlc>img{
	width: 16px;
	margin-right: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
 	.list-group-item>p{
		width: 50%;
		margin-right: 10px;
	}
 	.list-group-item>.time{
		width: 20%;
 	}
}


.trfile{
	cursor: pointer;
}


.trvlc>a{
	cursor: pointer;
	color: #000 !important; 
}

.td-icon{
	width: 1%;
}

.trname{
	word-wrap: break-word !important;
	overflow-wrap: break-word;
}

.fd-zone {
	position: relative;
	overflow: hidden;
	width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 10px;
    background: #c5c5c5;
	/***
	This way you can create a pretty box that will be both clickable and droppable:
	***
    width: 15em;
    margin: 0 auto;
    text-align: center;
	*/
}

/* Hides <input type="file"> while simulating "Browse" button: */
.fd-file {
  	opacity: 0;
  	font-size: 118px;
  	position: absolute;
  	right: 0;
  	top: 0;
  	z-index: 1;
  	padding: 0;
  	margin: 0;
  	cursor: pointer;
  	filter: alpha(opacity=0);
  	font-family: sans-serif;
}

.progress{
	display: none;
}







